@use '@theme/colors.module.scss' as *;
@use '@theme/viewport.scss' as *;
@use '@theme/common.module.scss' as *;
@use '@theme/gradient.module.scss' as *;

.default-prompts-wrapper {
    @include flex-model(column, center, flex-start, 1rem);
    margin-top: 1rem;
    align-self: center;
    width: 100%;

    > button,
    > a {
        min-width: 250px;
        width: auto !important;
        gap: 0.5rem;
        border: 1px solid $Gray3;
        background-color: $Gray3 !important;
        height: 50px;

        > svg {
            width: 20px;
            height: 30px;

            > path {
                stroke: white !important;
            }
        }

        &:hover {
            > p {
                color: white !important;
            }

            > svg {
                > path {
                    stroke: white !important;
                }
            }
        }
    }
}
