@use '@theme/colors.module.scss' as *;
@use '@theme/viewport.scss' as *;
@use '@theme/common.module.scss' as *;
@use '@theme/gradient.module.scss' as *;

.greeting {
    @include flex-model(column, flex-start, flex-start, 0.5rem);

    > h6 {
        text-wrap: balance;
        word-break: break-word;

        @include mobile {
            font-size: 1.8rem;
        }
    }
}
