@use '@theme/colors.module.scss' as *;
@use '@theme/viewport.scss' as *;
@use '@theme/common.module.scss' as *;
@use '@theme/gradient.module.scss' as *;

.dashboard-loader {
    position: absolute;
    top: 50%;

    @include mobile {
        top: calc(50% - 100px);
    }
}
