@use '@theme/colors.module.scss' as *;
@use '@theme/viewport.scss' as *;
@use '@theme/common.module.scss' as *;
@use '@theme/gradient.module.scss' as *;

.intro-slide-card {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 16px;

    > .intro-slide-overlay {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.799) 90%, rgba(255, 255, 255, 0.662) 100%);
        border-radius: 16px;
        height: 100%;
        width: 100%;
        padding: 10px;
        @include flex-model(column, center, flex-end, 1rem);

        > h1 {
            padding: 0.4rem 1.2rem;
            border-radius: 100px;
            letter-spacing: 1.15px;
            text-transform: uppercase;
            text-wrap: balance;
            line-height: 1.5rem;
            text-align: center;
            color: white !important;
            background: #254156 !important;

            @include mobile {
                font-size: 1rem;
            }
        }

        > .intro-slide-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            > .intro-slide-text {
                text-align: left;
                @include flex-model(column, flex-start, flex-start, 0.5rem);
                padding: 0.5rem;

                > p {
                    line-height: 1.5rem;
                    font-size: 0.925rem;
                    color: #254156 !important;
                }
            }
        }
    }
}
