@use '@theme/colors.module.scss' as *;
@use '@theme/viewport.scss' as *;
@use '@theme/common.module.scss' as *;
@use '@theme/gradient.module.scss' as *;

.dynamic-upload-container {
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    position: relative;
    @include flex-model(column, flex-start, flex-start, 1rem);
    max-height: 75vh;
    overflow-y: auto;

    @include tablet {
        width: 100%;
    }

    .outer {
        width: 100%;
        @include flex-model(row, flex-start, space-between, 1rem);

        @include tablet {
            flex-direction: column;
            gap: 1rem;
        }

        > .left {
            width: 100%;
            @include flex-model(column, flex-start, flex-start, 1rem);

            @include tablet {
                width: 100%;
            }

            > .type,
            > .xray,
            > .report-type,
            > .notation,
            > .info,
            > .selection {
                width: 100%;
            }

            > .info {
                @include flex-model(column, flex-start, flex-start, 1rem);
            }

            > .selection {
                @include flex-model(column, flex-start, flex-start, 1rem);

                > p {
                    &::before {
                        content: '*';
                        color: red;
                    }
                }
            }
        }
    }

    .checkbox-group-wrapper {
        > .info-wrapper {
            min-width: 100px;
            justify-content: flex-start !important;

            > p {
                line-height: 1.2rem;
            }
        }
    }

    > .report {
        @include flex-model(column, flex-start, flex-start, 1rem);
        width: 100%;

        > svg {
            width: 40px;
            height: 40px;
            cursor: pointer;
            border: 1px solid $SilveringGray;
            border-radius: 10px;
            padding: 0.25rem;
        }

        > p {
            &::before {
                content: '*';
                color: red;
            }
        }
    }

    > button {
        width: 250px;
        height: 50px;

        @include mobile {
            width: 100%;
        }
    }
}
