@use '@theme/colors.module.scss' as *;
@use '@theme/viewport.scss' as *;
@use '@theme/common.module.scss' as *;
@use '@theme/gradient.module.scss' as *;

.breadCrumbs {
    @include flex-model(row, center, flex-start, 0.1rem);

    > svg {
        width: 17px;
        height: 17px;
        cursor: pointer;

        > path {
            fill: gray;
        }
    }
}
